* {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

img {
  position: relative;
  left: 725px;
}

footer {
  background-color: rgba(52, 125, 66, 0.682);
  color: white;
  border-bottom: solid black 10px;
}

.nav-bar {
  background-color: rgba(52, 125, 66, 0.682);
  margin: 0px;
  padding: 8px;
  color: white;
}

.button {
  list-style-type: none;
  display: inline;
  position: relative;
  left: 1550px;
  padding: 15px;
}

.button:hover {
  cursor: pointer;
}

.mainContent {
  background-color: peachpuff;
  display: block;
  position: relative;
}

#contentTitle {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  left: 700px;
}

#contentParagraph {
  position: relative;
  left: 500px;
}

#content {
  background-color: white;
  position: relative;
  top: 20px;
  bottom: 20px;
}

#contactSection {
  position: relative;
  left: 690px;
}

#contactTitle {
  position: relative;
  left: 200px;
}

#button {
  background-color: rgb(55, 47, 47);
  color: white;
  font-size: 20px;
  position: relative;
  display: block;
  top: 10px;
  left: 200px;
  width: 90px;
}

button:hover {
  cursor: pointer;
}

#footer {
  position: relative;
  left: 770px;
  padding: 20px;
}
