* {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.nav-bar {
  background-color: rgba(52, 125, 66, 0.682);
  margin: 0px;
  padding: 8px;
  color: white;
}

.button {
  list-style-type: none;
  display: inline;
  position: relative;
  left: 1550px;
  padding: 15px;
}

.button:hover {
  cursor: pointer;
}

.mainContent {
  background-color: peachpuff;
}

#contentTitle {
  font-size: 35px;
  font-weight: bold;
}
